# Dependencies\r\n/node_modules\r\n\r\n# Production\r\n/dist\r\n/build\r\n\r\n# Logs\r\nnpm-debug.log*\r\nyarn-debug.log*\r\nyarn-error.log*\r\n\r\n# Environment variables\r\n.env\r\n.env.local\r\n.env.development.local\r\n.env.test.local\r\n.env.production.local\r\n\r\n# IDEs\r\n.idea/\r\n.vscode/\r\n\r\n# Tests\r\n/coverage\r\n\r\n
